body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

.image-frame {
    text-align: center;
}

.page-title,
.page-footer,
.red,
.white,
.blue,
.green,
.yellow {
    padding: 8px;
}

p,
ul {
    margin: 8px 16px;
}

.page-title {
    background-color: rgb(39, 44, 114);
    color: rgb(217, 221, 221);
    font-size: 32px;
}

.page-content {
    background-color: rgb(217, 221, 221);
    font-size: 16px;
}

.red {
    background-color: red;
    color: white;
}

.white {
    background-color: white;
}

.blue {
    background-color: darkblue;
    color: white;
}

.green {
    background-color: green;
    color: white;
}

.yellow {
    background-color: yellow;
    color: rgb(86, 88, 72);
}

.page-footer {
    background-color: rgb(39, 44, 114);
    color: rgb(217, 221, 221);
    font-size: 18px;
    display: block;
}

#recipes-list li {
    margin: 4px;
    background-color: rgb(39, 44, 114);
    padding: 8px;
    width: 350px;
}

#recipes-list li a {
    color: rgb(217, 221, 221);
    font-weight: 600;
}